fastapi
uvicorn
pydantic
pydantic-settings
langchain
langchain-core
langchain-openai
langchain-text-splitters
pymilvus
requests
python-multipart
concurrent-log-handler
bcrypt
python-jose[cryptography]
psycopg2-binary
elasticsearch
langgraph
langsmith
pytest
pytest-asyncio
# aliyun-oss-python-sdk
rank_bm25 
jieba